---
layout: page
title: Bootcamp
---


<!-- Content: Blog -->


<div class="row">
    <h3>All posts things <i>Bootcamp</i>: </h3>
    {% for post in site.posts %}
        {% if post.categories contains 'bootcamp' %}
    <div class="col-sm-6 col-md-4">
            <table class="table table-striped">
              <tr>
                  <td height="75px">
                  {{ post.date | date: "%b %d, %Y" }}
                  </td>
                  <td>
                  <a href="{{post.url}}"> {{ post.title }}</a>
                  </td>
               </tr> 
            </table>
    </div>
          {% endif %}
     {% endfor %}
</div>

<!-- End Content -->
