<!-- Footer -->

    <footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <!-- <div class="main-footer">
        <div class="main-footer-content">
        <ul class="nav navbar-nav navbar-big">
        <li><a href="https://garyditsch.github.io/">Home</a></li>
        <li><a href="https://garyditsch.github.io/about.html">About</a></li>
       </ul>
       </div>
       </div> -->
       <div class="secondary-footer">
       <div class="secondary-footer-content">
       {% if site.twitter_username %}
          <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i> Twitter
          </a>
          </li>
        {% endif %}
       Place sticky footer content here.  |  &copy; 2016.  
       </div>
       </div>
    </div>
    </footer>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
